.formula {
  margin:0;
  padding:0;
  position: relative;
}

.formula::after {
  content: "";
  background: url("../../images/searchBcg.jpg") center/cover no-repeat;
  opacity: 1;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index:-1;
}
.search-name {
  margin: 20px;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:5px;
  padding: 5px;
}
.search-bar {
  width: 50%;
  border: none; 
}

.search-button {
  margin-bottom: 15px;
}
.nounderline {
  text-decoration: none !important
}
.text-green {
  color: #8fbc8f;
}